.occ_excalibur { color: #4865b0;}

	
.F2 {
	background-color: #4865b0;
	font-weight: bold;
	color: #000000;
}
 
.F3 {
	background-color: #4865b0;
	font-weight: bold;
	color: #000000;
}
	
A:link { color: white; text-decoration: none; font-size: 1.1em}
A:visited { color: white; text-decoration: none; font-size: 1.1em}
A:active { color: white; text-decoration: none; font-size: 1.1em}
A:hover { color: white; text-decoration: underline ; font-size: 1.1em}   


.occurrence {    
    font-family: Times;
	font-size : 11pt;
	color: #003366;
}
